<!--<div class="card" style="width: 18rem;">-->
<!--  <img class="card-img-top" src="..." alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->


<!-- Horizontal Steppers -->
<!--<div class="row">-->
<!--  <div class="col-md-12">-->

<!--    &lt;!&ndash; Stepers Wrapper &ndash;&gt;-->
<!--    <ul class="stepper stepper-horizontal">-->

<!--      &lt;!&ndash; First Step &ndash;&gt;-->
<!--      <li class="completed">-->
<!--        <a href="#!">-->
<!--          <span class="circle">1</span>-->
<!--          <span class="label">First step</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      &lt;!&ndash; Second Step &ndash;&gt;-->
<!--      <li class="active">-->
<!--        <a href="#!">-->
<!--          <span class="circle">2</span>-->
<!--          <span class="label">Second step</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      &lt;!&ndash; Third Step &ndash;&gt;-->
<!--      <li class="warning">-->
<!--        <a href="#!">-->
<!--          <span class="circle"><i class="fas fa-exclamation"></i></span>-->
<!--          <span class="label">Third step</span>-->
<!--        </a>-->
<!--      </li>-->

<!--    </ul>-->
<!--    &lt;!&ndash; /.Stepers Wrapper &ndash;&gt;-->

<!--  </div>-->
<!--</div>-->
<!-- /.Horizontal Steppers -->

<form class="container pb-5 bg-white">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
<!--  <div class="form-group">-->
<!--    <div class="form-check">-->
<!--      <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--      <label class="form-check-label" for="gridCheck">-->
<!--        Check me out-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Update</button>
</form>
